body {
  margin: 0;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    monospace;
}

#title{
  font-size: 32px;
  background-color: #74a4e2;
  color: rgb(3, 3, 3);
  border-style: dashed;
  border-color: white;
}

.button{
  background-color: black;
  color: white;
  width: 90px;
  height: 40px;
  margin: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

.site {
  background-color: rgb(241, 3, 3);
  color: white;
  width: 80px;
  height: 40px;
  margin: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

#button{
  background-color: black;
  color: white;
  width: 90px;
  height: 40px;
  margin: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

#reset{
  background-color: rgb(13, 55, 243);
  color: white;
  width: 90px;
  height: 40px;
  margin: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

#panel,.flip{
  font-size: 18px;
  text-align: center;
  background-color: #74a4e2;
  color: rgb(12, 12, 12);
  border: solid 3px #faf9f9;
  margin: auto;
}

#lblGreetings{
  color: rgb(210, 153, 248);
  font-style: italic;
  font-size: larger;
}

#clock {
  color: rgb(210, 153, 248);
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
}